
body{
    margin: 0 0;
}
main{
    margin: 30px;
    height: 70vh;
    border: 2px solid black;
}

header{
    text-align: center;
    background-color: black;
    color:white ;
    padding: 2px;
}


div{
   display: flex;
   flex-direction: row;
    font: 16px;
    color: navy;
    align-items: center;
   margin-left: 300px;
}
footer{
    text-align: center;
    background-color: black;
    color:white ;
    padding: 6px;
}
p{
    padding: 10px;
}

    