@import url('https://fonts.googleapis.com/css2?family=Acme&family=Merriweather&display=swap');
body{
    font-family: 'Merriweather', serif;

}

header{
    background-color: black;
    color: white;
    padding: 1px;
    margin-bottom: 2px;
}
main{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
img{
    width: 100%;
    background-color: black;
    animation: fade 20s;
    margin-top: 5px;
}
@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


  footer {
    background: black;
    color: white;
    margin-top: 1.5em;
    text-align: center;
     padding: 1px;   
  }