* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-family: Roboto, Helvetica, sans-serif;
}
h1 {
	color: navy;
	font-size: 1.5rem;
	border-bottom: 1px solid #777;
}

/* pseudo element example */
h1::after { content: ": Smaller Viewport"; }

div {	margin: 1rem; }

img { width: 100%; height: auto;	border: 1px solid rgba(0,0,0,.2);}

#image {
	width: 100%;
	height: auto;
}

@media only screen and (min-width: 600px) {
	h1 {
		color: red;
		font-size: 2rem;
	}

	h1::after {
		content: ": Midsize Viewport";
	}
}

@media only screen and (min-width: 800px) {
	h1 {
		color: green;
		font-size: 3rem;
	}

	h1::after {
		content: ": Larger Viewport";
	}
}
