
:root{
    --bg-color: rgb(13, 13, 132);
}
*{
    margin: 0 0;
}

header{
    padding-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: white;
    margin-bottom: 10px;
    }
#weather{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 390px;
    margin-left: 50px;
}
#weather h4{
    text-align: center;
    background-color: #eee;
    color: black;
}
    #current{
        margin-top: -10px;
        margin-bottom: -15px;
        display: flex;
        flex-direction: row;
        column-gap: 20px;

    }
    #current{
       
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .forecast{
        display: flex;
        margin-top: 10px;
    }
    .forecast section:first-of-type{
        border-left: none;
    }
    .forecast section{
        text-align: center;
        width: 130px;
        border-left: 1px solid black;

    }






 /*--------------Footer----------------------*/ 
 footer {
    background: black;
    color: white;
    margin-top: 35px;
    text-align: center;
    padding: 10px;
    font-family: 'Lato', sans-serif, serif;
    font-size: 15px;
    
    
  }


