@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root{
  --field-bord-color: 2px solid #445ba9;
  --lgnd-color: #445ba9;
  --card-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
  --hdr-bg-color:   rgb(27, 27, 112);
}
/*********************banner*******************/
#banner{
    text-align: center;
    background-color: rgb(27, 27, 112);
    padding: 5px;
    color: white;
    margin: 0 0;
    z-index: -1;
  }

#banner{
  
  position: relative;
  animation-name: bnr;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes bnr {
  0%   {background-color:red; left:0px; top:5px;}
  25%  {background-color:black; left:0px; top:10px;}
  50%  {background-color:blue; left:0px; top:15px;}
  75%  {background-color:green; left:0px; top:20px;}
  100% {background-color:red; left:0px; top:30px;}
}
/**********************************************/
body {
    width: 100%;
    font-family: 'Lato', sans-serif, serif;   
  }

  .navigation-menu{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    align-items: center;
    justify-content: right;
    gap: 3rem;
    background: black;
    width: auto;
    padding: 15px;
    
  }
  
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    background-color: rgb(131, 131, 216);
    gap: 3rem; 
    height: 120px
  }
  
  .logo{
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 30px;
    border: 1px solid;
    width: 180px;
    height: 180px;
    transition: 1s ease;
  }
.logo:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.6);
  transition: .5s ease;
  }
 
  
  
 
/* this is responsive menu*/
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
  
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  padding-left: 55px;
}

 .navigation a:hover, navigation a:active{
	color: yellow;
	background-color: black;
}
.responsive li {
	display: block;
}

.responsive #menu::before {
  text-align: center;
	content: "X";
  color: red;
  
}
.responsive #menu {
  text-align: center;
}
/* This is end of responsive css code*/
  
  
 
  
  .hero {
    margin-top: 30px;
    position: relative;
   }
  
  .hero img {
    width: 100%;
    height: auto;
    
    }
  
  .herolabel {
    position: absolute;
    top: 30px;
    right: 30px;
    background: radial-gradient(#fff, #3c8aba);
    border: 1px solid rgba(0,0,0,1);
    border-radius: 50%;
    padding: 1.5rem;
    box-shadow: 0 0 4rem rgb(47, 92, 164);
    opacity: 15;
    /* Buenas */
  }
  
  .herolabel a {
    text-decoration: none;
    margin: 0;
    padding: 2px;
    font-weight: 700;
    font-size: 20px;
    
  }
 
   

.main-index hr{
  margin-top: -20px;
  border: 5px solid black;
  margin-left: 30px;
  margin-right: 30px;
}
.main-index h2{
  margin-left: 30px;
}


  main.dark,
  main.dark a {
      background-color: rgb(35, 35, 35);
      color: white;
      
  }
  main.dark h2 {color: white;}
  
  #darkmode {
      background-color: black;
      color: white;
      padding: 0.75rem;
	  	font-weight: 700;
	    transition: 0.5s;
	    font-size: clamp(1rem, 2vmin, 1.5rem);
      padding-left: 55px;
  }
   
  
  h4{
    padding-left: 30px;
  }
  #events h4{
    padding-left: 20px;
  }

  #events p{
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px ;
    
  }
  
  nav a{
    text-decoration: none;
    color: white
    
  }
  .updates{
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    justify-items: center;
    column-gap: 30px;
    margin: 30px;
     
  }
  #events{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: auto;
    width: 100%;
    border: 1px solid;
    box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
    justify-items: center;
  }

  /*****************Weather Data*******************/
  #weather{
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-bottom: 15px;
    height: auto;
    width: 100%;
    border: 1px solid;
    box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
   }
   #iconN0, #iconN1, #iconN2{
    width: 70px;
    height:auto;
    display:block;
   margin: 0 auto;
   
}
#desN0, #desN1, #desN2{
  text-transform: capitalize;
}

.weatherCards{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        
}
#one,#two,#three{
    
    padding: 1px;
    text-align: center;
    font-size: 15px;
}
#one{
  
   border-right: 1px solid #ccc;
}
#three{
  border-left: 1px solid #ccc;
  
}

#one{
    grid-column: 1/2;   
}
#two{
    grid-column: 2/3;   
}
#three{
    grid-column: 3/4;
}

/*********************************Company Highlights********************************/
#spotlight-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin:30px;
 
}
#spotlight-cards section{
  border: 1px solid;
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
  padding-bottom: 20px;
}
#spotlight-cards section h3, .updates section h3, #weather h3{
  padding: 10px 0 10px 0;
  text-align: center;
  margin-top: -1px;
  color: white;
  background-color: rgb(27, 27, 112);
}
#spotlight-cards section a{
  text-decoration: none;
  }
  #spotlight-cards section img{
    width:auto;
    height: 150px;
  }



 /**********************************end************************************/ 
  
  .map-container{
    display: grid;
    grid-template-columns:1fr;
    position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 35%;
  margin-bottom: 30px;
  }
  .map{
    position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 30px;
  width: 95%;
  height: 100%;
  border: none;
  
  }
  .chamber-mgt img{
    width: 170px;
    height: 64px;
    
  }
  .chamber-mgt{
    display: flex;
    flex-direction: row;
    text-align: left;
    column-gap: 30px;
    padding-top: 30px;
    justify-content: left;
  }
 
    
  footer {
    background: black;
    color: white;
   
    text-align: center;
    padding: 5px;
    font-family: 'Lato', sans-serif, serif;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  /* below is CSS code for discover.html*/
 
  .disc-main hr{
    border: 5px solid black;
    width: 99%;
  }
  .disc-main{
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    column-gap: 30px;
    
  }
  .disc-main h3{
    text-align: center;
    padding: 10px 0 10px 0;
    
   text-align: center;
   margin-top: -1px;
   color: white;
   background-color: rgb(27, 27, 112);
  }
  .photos h3{
    margin-bottom: 0;
  }
  .disc-main h2{
    text-align: center;
    grid-column: 1/3;
    margin-bottom: -5px;
  }
  .disc-main hr{
    grid-column: 1/3;
    margin-bottom: 20px;
  }
  .sidebar{
    grid-column: 1/2;
    align-self: flex-start;
    position: sticky;
    top: 5%;
    height: 600px;
   margin-bottom: 30px;
   border: 1px solid;
   box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
  }
  .sidebar form, .sidebar strong {
    padding-left: 25px
  }
  .email{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 7px;
    padding: .75rem;
    width: 93%;
    margin-bottom: 16px;

  }
  #emailBtn{
    background-color: black;
    color: white;
  }
  .photos{
    grid-column: 2/3;
    border: 1px solid;
    box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
    margin-bottom: 30px;
  }
  .photos img{
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
.photos img{
  transition: 1s ease;
}
.photos img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.6);
  transition: .5s ease;
  }

  /*------------------------below is css code for Join.html page*/
  .main-join{
    margin: 30px 30px;
  }
  .form-heading{
    margin-top: 30px;
    text-align: center;
  }

  .main-join hr{
    border: 5px solid black;
    margin-top: -20px;
  }
 
  .form{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 30px;
 }
  
  form fieldset{
    margin:0 0;
    border: var(--field-bord-color);
    border: 1px solid black;
    padding: .5px 2%;
    box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
    padding-bottom: 12px;
   
}
form legend{
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
}
.output-msg legend{
  color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: blue;
    font-size: .85rem;
}
form label.top input, form label.top select, form label.top textarea{
   
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.output-msg fieldset{
    margin:0 0;
    border: var(--field-bord-color);
    border: 1px solid black;
    padding: .5px 2%;
    height: 94.4%;
    box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
    
}


 
  form input.submitBtn{
    border: none;
    color: white;
    background-color: rgb(27, 27, 112);
    border: 1px solid black;
    padding: 10px 0px;
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 100%;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}

  .input-msg{
    width: 50%;
  }
  .output-msg{
    width: 50%;
    
  }
  form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}
form label.sbs, input{
  margin-right: 10px;
  font-size: 0.8rem;
}
.input-msg p{
color: blue;
margin-bottom: -7px;
font-size: 0.8rem;
}

.output-msg p{
  font-size: 16px;
  margin-bottom: -12px;
}

.output-msg li{
  font-size: 16px;
 padding-top: 5px;
}


/*--------------thanks.html page*/
.thanks, .thanks ~ p{
  margin-top: 50px;
  color: blue;
  text-align: center;
}
.thanks-main{
  height: 44vh;
  margin: 30px 30px;
}
/*-----------------------directory.html------------------*/


.directory-main{
	margin: 30px 30px;
	max-width: 100%;
	
	font-family: Roboto, Helvetica, sans-serif;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--hdr-bg-color);
	text-align: center;
  margin-bottom: 30px;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}



.main-cards section{
  border: 1px solid;
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgb(137, 133, 133);
  padding-bottom: 20px;
}
.main-cards section h3{
  padding: 10px 0 10px 0;
  text-align: center;
  margin-top: -1px;
  color: white;
  background-color: rgb(27, 27, 112);
}
.main-cards section a{
  text-decoration: none;
  }
  .main-cards section img{
    width:auto;
    height: 150px;
    margin-top: 20px;
  }

.main-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
  column-gap: 30px;
  row-gap: 30px;
}

.main-cards section {
	flex-direction: column;
	text-align: center;
}


.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 0.8fr .9fr .6fr .4fr .7fr;
  text-align: left;
  column-gap: 2px;
	margin: auto;
	padding: 0;
  width: 100%;
 
}
.list section p{
text-align: left;
}
.list section a{
  text-align: left;
  padding: 0;
  }

.list section > * {
	margin: 0 0;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even){
  
	background-color: rgb(209, 232, 236);
}



.main-cards section h4 {
	font-size: 1.5rem;
}




