
 @media (max-width: 500px){
  
  main {
    max-width: 500px;
    padding: 1rem;
    
  }
  h2{
    text-align: center;
  }
  .updates{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 35px;
    margin: 0 40px;   
  }
  
  
  .cards{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     }
     .navigation-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background: black;
      padding: 1rem
      
      
    }
    .map{
      grid-column: 1/4;
      width:100%;
    }

    /* below is CSS code for discover.html*/
 
  .disc-main hr{
    border: 5px solid black;
    width: 99%;
  }
  .disc-main{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }  
  .sidebar{
    width: 100%;
    align-self: flex-start;
    background-color: yellowgreen;
    position:initial;
    height: auto;
   padding-bottom: 20px;
  }
  
    
.photos img{
  transition: none;
}
.photos img:hover{
 
  transform: none;
  transition: none;
  }
  /*---------join.html--------*/
  .form{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    margin: 0 20px;
 }
 .input-msg{
  width: 100%;
}
.output-msg{
  width: 100%;
  
}
.heading{
  font-size: 25px;
}
.heading-2{
  font-size: 20px;
}
.form-heading{
  font-size: 20px;
  margin-left: 20px;
}
.logo{
  width: 150px;
  height: 150px;
}
 }
