
 @media (max-width: 500px){

  #menu::before {
    content: "≡";
    font-size: 3rem;
    margin-right: 10px;
    color: white;
   }
.navigation-menu > a{
  display: none;
}

 #banner{
  font-size: 21px;
  padding:5px;
 } 
  main {
    max-width: 500px;
    padding: 1rem;
    padding: 0 0;
  }
  .main-index hr{
    margin-top: -15px;
   
  }
  .updates{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  
    
  }
  
  
  #spotlight-cards{
   
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     }
     #spotlight-cards section{
      width: 100%;
   
     }


     .navigation-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background: black;
      padding: 1rem
      
      
    }
 

    /* below is CSS code for discover.html*/
 
  .disc-main hr{
    border: 5px solid black;
    width: 98%;
    margin-bottom: 30px;
  }
  .disc-main{
  
    display: flex;
    flex-direction: column;
   
  }  
  .sidebar{
    width: 100%;
    align-self: flex-start;
    position:initial;
    height: auto;
   padding-bottom: 20px;
  }
   
    
.photos img{
  transition: none;
}
.photos img:hover{
 
  transform: none;
  transition: none;
  }
  /*---------join.html--------*/
  .form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
 
 }
 .input-msg{
  width: 100%;
}
.output-msg{
  width: 100%;
  
}
.heading{
  font-size: 25px;
}
.main-join hr{
 margin-top: -15px;
}
.heading-2{
  font-size: 23px;
  margin-top: 30px;
}
.form-heading{
  font-size: 25px;
 
}
.logo{
  width: 150px;
  height: 150px;
}

/*-----------directory.html------------*/
.list {
	display: flex;
	flex-direction: column;
 
}
.list section {
	display: flex;
	flex-direction: column;
  text-align: center;
 
}
.list section h2 {
  text-align: center;
}
.main-cards section a {
  padding-bottom: 20px;
}
.list section p{
  text-align: center;
  }
  .list section a{
    text-align: center;
    padding: 0;
    }


    .chamber-mgt{
      flex-direction: column;
    }

 }
