
 @media (max-width: 500px){
  
  main {
    max-width: 500px;
    padding: 1rem;
    
  }
  h2{
    text-align: center;
  }
  
  .cards{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     }
     .navigation-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background: black;
      padding: 1rem
      
      
    }
     
 }
  
  